* {
  margin: 0;
  font-family: sans-serif;
}

/* For index.html */
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  width: 100vw;
}

nav > ul {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 50px;
}

#logged-in {
  width: 30vw;
}

#logged-out {
  width: 25vw;
}

li {
  list-style: none;
  border: solid white 1.5px;
  padding: 10px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#welcome {
  color: whitesmoke;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#name {
  margin-top: 100px;
}

.poll {
  padding: 20px;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid black 2px;
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}

#vote {
  background-color: rgb(230, 230, 230);
  text-align: center;
  width: 300px;
}

#voted {
  width: 300px;
}

.new-option {
  width: 292px;
}

#author {
  position: absolute;
  right: 80px;
  font-size: 14px;
}



/* For sign-up.html and log-in.html */
.sign-up, .log-in {
  height: auto;
  width: 90vw;
  margin: auto;
  background-color: rgb(200, 200, 200);
  border: solid black 1.5px;
  margin-top: 100px;
  padding: 20px;
}

p > a {
  color: darkcyan;
  text-decoration: underline;
}

/* Charts */
.chart-place {
  width: 30vw;
  height: auto;
}